<!doctype html>
<html lang="ru">
<head>
 <meta charset="UTF-8">
 <title>Техническая поддержка Renault Logan</title>
 <!--link href="CSS/style.css" rel="stylesheet" type="text/css"-->
 {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
 <link rel="stylesheet" href="{% static 'CSS/menue.css' %}">
 <!--link href="CSS/menue.css" rel="stylesheet" type="text/css"-->
  <!--link href="C:/!MAKSIM_PROJECT/ПРИМЕРЫ/style5.css" rel="stylesheet" type="text/css">
 <link href="C:/!MAKSIM_PROJECT/ПРИМЕРЫ/style6.css" rel="stylesheet" type="text/css"-->
 <meta charset="UTF-8"> 
 <!--style>
	
 </style-->
</head>

 <body id="fon">
  <div id="header">
    <div id="name">
		Техническое сопровождение по эксплуатации автомобиля<br>&#34;Renault Logan&#34;
  	</div>
  	<div id="logo"></div>
   	<div id="videologan">
  	   	<!--iframe src="https://www.youtube.com/embed/bzsFeDt8hf4 autoplay=1; loop=1; playlist=bzsFeDt8hf4" width="240" height="140" frameborder="0" allowfullscreen>
  	   	</iframe-->
	   <video width="240px" autoplay loop>
  	    	<source src={% static "VIDEO/logan.mp4" %} type="video/mp4">
  	   </video>
  	</div>
  </div>
  <div id="menu">
    <ul>
     <!--li><a href="C:/!MAKSIM_PROJECT/engine.html#size-window" 
	        onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(500, screen.availHeight)+',
			width='+Math.min(500, screen.availWidth));
			return false;">Узлы</a></li-->
	 <!--li><a href="C:/djangomax/Infodate/templates/Infodate/primer.html#target" onclick="window.open(this.href, '', 'scrollbars=1'); return false;">Узлы</a></li-->
	 <!--li><a href= "C:/djangomax/Infodate/templates/Infodate/primer.html#size-window" onclick="newMyWindow(this.href); return false;">Узлы автомобиля</a></li-->
	 <li><a href= {% url 'Infodate:primer' %}>Узлы автомобиля</a></li>
     <li><a href="#">About</a></li>
     <li><a href="#">Service</a></li>
     <li><a href="#">Карта СТО</a></li>
     <li><a href="#">Литература</a></li>
    </ul>
  </div>
  <div id="osnova">
    <!--div id="input">
	  {% for i in infodates %}	
	      <p> пользователя: {{i.author}}</p>
	      <p> текущий пробег: {{ i.probeg_tek }}</p>
          <p> дата приобретения: {{i.date_create}}</p>
          <p> общий пробег: {{i.probeg_all}}</p>	
	      <p> да публикации:{{i.date_publish}}</p>
	      <p> наличие кондиционера: {{i.conder}}</p>
	  {% endfor %}
	
	</div-->	
    <div class="hyst">
 	   <div  class="hystory"> <!--style="font-family: Helvetica Neue; font-size: 14px"-->
  	      <h4 align="center">Краткая история создания<br>автомобиля Renault Logan </h4>
	   </div>
	   <div class="hystory_txt">
  	    <hr style="align: center; width: 250px; size: 1px;">	 
		 <i>
		   <p align="justify"> Компактный седан Renault Logan, он же Dacia Logan, дебютировал в 2004 году.
           		               Производство автомобилей для российского рынка началось в апреле 2005 года
							   на московском «Автофрамосе».<br>
		                       &#160;Российский «Логан» оснащался бензиновыми моторами объемом 1,4 (75 л. с.) 
		                       и 1,6 (84 или 102 л. с.) литра в сочетании с механической или автоматической 
							   коробками передач.<br>
							   &#160;Первоначально машина предлагалась по цене 8999 долларов, 
							   а в 2015 году базовая версия стоила уже 399 тысяч рублей.<br>
		                       &#160;Производство седанов первого поколения в России завершилось 18 декабря 2015 года, 
		                       всего за десять лет московский завод выпустил около 550 тысяч таких машин.<br>
		                       &#160;На базе «Логана» также созданы хэтчбек Sandero, универсал «Лада Ларгус», 
		                       пикап Nissan NP200. В Индии эта модель производится под маркой Mahindra, 
							   а в Иране «Рено» выпускается до сих пор.
		   </p>
		 </i>
	   </div>  
    </div>
   <div class= "logan_body">
       <img src={% static "IMAGE/logan.png" %}  width="100%" height="100%" usemap="#loganmap" alt="Модель автомобиля"/>
	   <map name="loganmap" >
	     <area shape="rect" coords="100,200,180,280" alt="Двигатель" href="#modalENGINE">
		 <area shape="circle" coords="70,300,40" alt="Электрика" href="#modalELECT">
		 <area shape="rect" coords="150,300,250,380" alt="Трансмиссия" href="#modalTRANSMISS">
	   </map>
   </div>
   
   <div class="modal"> 
     <!--a href="#modalONE" class="open">Открыть окно</a--> 
      <div class="modal_engine" id="modalENGINE"> 
          <div class="title">Двигатель</div> 
             <a href="#" title="Закртыть" class="close">X</a> 
      </div> 
    </div> 
    <div class="modal"> 
      <!--a href="#modalTWO" class="open">Открыть окно</a--> 
        <div class="modal_elect" id="modalELECT"> 
              <div class="title">Электрика</div> 
                <a href="#" title="Закртыть" class="close">X</a> 
        </div> 
    </div>
    <div class="modal"> 
      <!--a href="#modalTWO" class="open">Открыть окно</a--> 
        <div class="modal_transmiss" id="modalTRANSMISS"> 
              <div class="title">Трансмиссия</div> 
                <a href="#" title="Закртыть" class="close">X</a> 
        </div> 
    </div>
   
   <div id="rjad">
        <div id="Vyvod" style="margin-left: 50px; top: 0px;">   </div>
        <div id="Vyvod"style="margin-left: 350px; top: -80px;">   </div>
		<div id="Vyvod" style="margin-left: 650px; top: -160px;"> </div>
   </div>     
  </div>
  <div class="footer">
  	
  </div>
   <!--div class="modal"> 
      <a href="#modal" class="open">Открыть окно</a> 
      <div class="modal_content" id="modal"> 
          <div class="title">Текст Вашего окна.</div> 
             <a href="#" class="close">Закрыть</a> 
      </div> 
   </div-->
  <!--div id="openModal-engine" class="modal-engine">
       <div class="modal-engine-dialog">
       <div class="modal-engine-content">
       <div class="modal-engine-header">
       <h3 class="modal-engine-title">Название</h3>
       <a href="#close" title="Close" class="close">X</a>
   </div>
   <div class="modal-engine-body"> 
       <p>Картинка двигателя</p>
   </div-->
   <!--div id="openModal-elect" class="modal-elect">
       <div class="modal-elect-dialog">
       <div class="modal-elect-content">
       <div class="modal-elect-header">
       <h3 class="modal-elect-title">Название</h3>
       <a href="#close" title="Close" class="close">X</a>
   </div>
   <div class="modal-elect-body"> 
       <p>Картинка электрической системы</p>
   </div-->
<script>
function newMyWindow(e) {
  var h = 500,
      w = 500;
  window.open(e, '', 'scrollbars=1,height='+Math.min(h, screen.availHeight)+',
  width='+Math.min(w, screen.availWidth)+',left='+Math.max(0, (screen.availWidth - w)/2)+',
  top='+Math.max(0, (screen.availHeight - h)/2));
}
</script>
</body>
</html>
