<!doctype html>
<html>
<head>
<meta charset="windows-1251">
<title>Документ без названия</title>
<link href="CSS/style1.css" rel="stylesheet" type="text/css">
</head>

<body>
   <div style="margin-left: 100px; margin-top: 50px;">
	  <a class="tooltip" href="#"><img src="IMAGE/logan.png" width="30%" height="30%">
         <span> 
           <img class="logan_body" src="IMAGE/logan.png"  width="100%" height="100%" alt="Модель автомобиля"/>
         </span>     
      </a> 
   </div>   
</body>
</html>
